<td><%= name %></td>
<td><%= due_date %></td>

<td><a href="#/<%= id %>"><i class="icon-ok done"></i></td>
<td><a href="#/<%= id %>/edit"><i class='icon-edit edit'></i></td>
<td><a href="#/<%= id %>/destroy" class="destroy"><i class='icon-remove delete'></i></a></td>